@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

:root {
  --montserrat: "Montserrat", sans-serif;
  --gray-1: #4e5150;
  --gray-2: #bdbdbd;
  --gray-3: #e5e5e5;
}

body {
  margin: 0;
  font-family: var(--montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray-1);
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* Grid for header, main and footer */
.site-grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
header {
  grid-area: header;
  padding-top: 0.5em;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  padding-top: 2.5em;
  padding-bottom: 0.5em;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

.profile {
  padding: 1em 0;
  text-align: center;
}

/* Designing the profile */

.profile__details--wrapper img {
  width: 6.25rem;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}
.profile__details--name {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.profile__details--location {
  font-size: 0.625rem;
  display: block;
  margin-top: 0.65em;
  line-height: 0.75rem;
  color: var(--gray-2);
}

/* Styling of the profile status */

.profile__status {
  display: flex;
  margin-top: 0.6em;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.profile__status--wrapper {
  border-radius: 12px;
  background: var(--gray-3);
  padding: 0.625em 0;
  width: 4.875rem;
}

.profile__status--wrapper + .profile__status--wrapper {
  margin-left: 0.5em;
}

.profile__status--wrapper__value {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  display: block;
}

.profile__status--wrapper__title {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--gray-2);
  text-transform: capitalize;
  display: block;
  margin-top: 0.45em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}

/* For the Gallery */
.gallery__item img {
  border-radius: 0.75rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Position of each images inside the grid */

.gallery__item--one {
  grid-area: 1 / 1 / span 1 / span 1;
}

.gallery__item--two {
  grid-area: 1 / 2 / span 1 / span 2;
}

.gallery__item--three {
  grid-area: 2 / 1 / span 1 / span 2;
}

.gallery__item--four {
  grid-area: 2 / 3 / span 2 / span 1;
}

.gallery__item--five {
  grid-area: 3 / 2 / span 1 / span 1;
}

.gallery__item--six {
  grid-area: 3 / 1 / span 1 / span 1;
}

.attribution {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #b9bdcf;
  text-align: center;
}

.attribution a {
  font-weight: 700;
  color: var(--gray-1);
}

/* Media queries */

@media (min-width: 800px) {
  header {
    padding-top: 2em;
  }
  footer {
    padding-top: 5em;
  }
  .profile__details--wrapper img {
    width: 9.75rem;
  }
  .profile__details--name {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-top: 0.5em;
  }
  .profile__details--location {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  .profile__status--wrapper {
    padding: 0.5em 0em;
    width: 6.25rem;
  }
  .profile__status--wrapper + .profile__status--wrapper {
    margin-left: 0.85em;
  }
  .profile__status--wrapper__value {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
  .profile__status--wrapper__title {
    font-size: 0.875rem;
    line-height: 0.9375rem;
  }
  .gallery {
    gap: 2rem;
    padding: 1em;
  }
}
